@media screen and (min-width: 1024px) {
    .Giphy {
        width: 220px;
        height: auto;
        margin: 10px auto;
    }
    .Giphy article a img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .Giphy {
        width: 200px;
        height: auto;
        margin: 10px auto;
    }
    .Giphy article a img {
        width: 180px;
        height: 180px;
    }
}

@media screen and (min-width: 360px) and (max-width: 500px) {
    .Giphy {
        width: 150px;
        height: auto;
        margin: 10px auto;
    }
    .Giphy article a img {
        width: 130px;
        height: 130px;
    }
}

.Giphy article {
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
}

.avatar {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 10px;
}

.name {
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    color: #0bf;
}

.author {
    text-align: left;
}

a.lightbox img {
    height: 150px;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    margin: 94px 20px 20px 20px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    width: 89%;
    height: 89%;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
    display: block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    right: 0;
}

.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
    top: 0px;
}